/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "../product-card/product-card.styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--design-color2);
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
  color: var(--black-color);
}